{{#each this}}
  <div class="header_box">
    <img class="logo" src="{{src}}" alt="logo" />
    <ul class="nav_item">
      <li class="nav_item_list">Home</li>
      <li class="nav_item_list">Blog</li>
      <li class="nav_item_list">Contact us</li>
    </ul>
  </div>
{{/each}}